# Day 2 Logistic Regression without encoding

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [3]:
data = pd.read_csv("../Dataset/credit_card_default_train.csv")
test_data= pd.read_csv("../Dataset/credit_card_default_test.csv")
# print(data.shape , test_data.shape)
# print(data.columns)
data.head(n=3)

,Client_ID,Balance_Limit_V1,Gender,EDUCATION_STATUS,MARITAL_STATUS,AGE,PAY_JULY,PAY_AUG,PAY_SEP,PAY_OCT,...,DUE_AMT_OCT,DUE_AMT_NOV,DUE_AMT_DEC,PAID_AMT_JULY,PAID_AMT_AUG,PAID_AMT_SEP,PAID_AMT_OCT,PAID_AMT_NOV,PAID_AMT_DEC,NEXT_MONTH_DEFAULT
0,A2,1M,M,Graduate,Other,31-45,-1,-1,-1,-1,...,39418,162772,-13982,3437,6004,39418,162772,0,538165,0
1,A3,1M,F,High School,Other,Less than 30,0,-1,-1,-1,...,43530,80811,124590,151818,46200,43530,80811,942,33666,0
2,A4,100K,F,High School,Single,31-45,4,3,2,2,...,0,0,0,0,0,0,0,0,0,1

## Data Wrangling

In [4]:
# split data
prediction_var = ['Balance_Limit_V1', 'Gender', 'EDUCATION_STATUS', 'MARITAL_STATUS', 'AGE', 'PAY_JULY', 'PAY_AUG', 'PAY_SEP', 'PAY_OCT', 'PAY_NOV', 'PAY_DEC', 'DUE_AMT_JULY', 'DUE_AMT_AUG', 'DUE_AMT_SEP','DUE_AMT_OCT','DUE_AMT_NOV','DUE_AMT_DEC', 'PAID_AMT_JULY', 'PAID_AMT_AUG', 'PAID_AMT_SEP', 'PAID_AMT_OCT', 'PAID_AMT_NOV', 'PAID_AMT_DEC']
X = data[prediction_var]
Y = data.NEXT_MONTH_DEFAULT
test_id= test_data['Client_ID']
test_data = test_data[prediction_var]

Manual encoding for Balance_Limit so that the Limit value is considered

In [5]:
# encode catergorical varaibles
for i in range(len(X.Balance_Limit_V1)):
    if (X.Balance_Limit_V1.at[i] == '100K'):
        X.Balance_Limit_V1.at[i] = 100000
    elif (X.Balance_Limit_V1.at[i] == '200K'):
        X.Balance_Limit_V1.at[i] = 200000
    elif (X.Balance_Limit_V1.at[i] == '300K'):
        X.Balance_Limit_V1.at[i] = 300000
    elif (X.Balance_Limit_V1.at[i] == '400K'):
        X.Balance_Limit_V1.at[i] = 400000
    elif (X.Balance_Limit_V1.at[i] == ' 500K'):
        X.Balance_Limit_V1.at[i] = 500000
    elif (X.Balance_Limit_V1.at[i] == '1M'):
        X.Balance_Limit_V1.at[i] = 1000000
    elif (X.Balance_Limit_V1.at[i] == '1.5M'):
        X.Balance_Limit_V1.at[i] = 1500000
    elif (X.Balance_Limit_V1.at[i] == '2.5M'):
        X.Balance_Limit_V1.at[i] = 2500000

for i in range(len(test_data.Balance_Limit_V1)):
    if (test_data.Balance_Limit_V1.at[i] == '100K'):
        test_data.Balance_Limit_V1.at[i] = 100000
    elif (test_data.Balance_Limit_V1.at[i] == '200K'):
        test_data.Balance_Limit_V1.at[i] = 200000
    elif (test_data.Balance_Limit_V1.at[i] == '300K'):
        test_data.Balance_Limit_V1.at[i] = 300000
    elif (test_data.Balance_Limit_V1.at[i] == '400K'):
        test_data.Balance_Limit_V1.at[i] = 400000
    elif (test_data.Balance_Limit_V1.at[i] == ' 500K'):
        test_data.Balance_Limit_V1.at[i] = 500000
    elif (test_data.Balance_Limit_V1.at[i] == '1M'):
        test_data.Balance_Limit_V1.at[i] = 1000000
    elif (test_data.Balance_Limit_V1.at[i] == '1.5M'):
        test_data.Balance_Limit_V1.at[i] = 1500000
    elif (test_data.Balance_Limit_V1.at[i] == '2.5M'):
        test_data.Balance_Limit_V1.at[i] = 2500000

In [6]:
to_normalize = ['Balance_Limit_V1','DUE_AMT_JULY', 'DUE_AMT_AUG', 'DUE_AMT_SEP','DUE_AMT_OCT', 'DUE_AMT_NOV', 'DUE_AMT_DEC', 'PAID_AMT_JULY',
                 'PAID_AMT_AUG', 'PAID_AMT_SEP', 'PAID_AMT_OCT', 'PAID_AMT_NOV','PAID_AMT_DEC']
# X[to_normalize] = preprocessing.normalize(X[to_normalize])
X[to_normalize]=X[to_normalize].apply(lambda x: (x-np.mean(x))/np.std(x))
test_data[to_normalize]=test_data[to_normalize].apply(lambda x: (x-np.mean(x))/np.std(x))

F:\Program Files\anaconda\lib\site-packages\pandas\core\frame.py:3137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [7]:
cat_vars=['Gender', 'EDUCATION_STATUS','MARITAL_STATUS', 'AGE', 'PAY_JULY', 'PAY_AUG', 'PAY_SEP', 'PAY_OCT','PAY_NOV', 'PAY_DEC']
for var in cat_vars:
    cat_list="var"+'_'+var
    cat_list=pd.get_dummies(X[var], prefix=var)
    X=X.join(cat_list)
data_var=X.columns.values.tolist()
to_keep=[i for i in data_var if i not in cat_vars]
X=X[to_keep]

at_vars=['Gender', 'EDUCATION_STATUS','MARITAL_STATUS', 'AGE', 'PAY_JULY', 'PAY_AUG', 'PAY_SEP', 'PAY_OCT','PAY_NOV', 'PAY_DEC']
for var in cat_vars:
    cat_list="var"+'_'+var
    cat_list=pd.get_dummies(test_data[var], prefix=var)
    test_data=test_data.join(cat_list)
data_var=test_data.columns.values.tolist()
to_keep=[i for i in data_var if i not in cat_vars]
test_data = test_data[to_keep]

test_data['PAY_SEP_1'] = 0
test_data['PAY_OCT_1'] = 0
test_data['PAY_AUG_8'] = 0
test_data['PAY_OCT_8'] = 0
test_data['PAY_NOV_8'] = 0
test_data['PAY_DEC_8'] = 0

In [8]:
# Ensure both train and test data are the same dimension
final_columns =['Balance_Limit_V1', 'DUE_AMT_JULY', 'DUE_AMT_AUG',
       'DUE_AMT_SEP', 'DUE_AMT_OCT', 'DUE_AMT_NOV', 'DUE_AMT_DEC',
       'PAID_AMT_JULY', 'PAID_AMT_AUG', 'PAID_AMT_SEP', 'PAID_AMT_OCT',
       'PAID_AMT_NOV', 'PAID_AMT_DEC', 'Gender_F',
        'EDUCATION_STATUS_Graduate',
       'EDUCATION_STATUS_High School', 
       'MARITAL_STATUS_Other',  'AGE_31-45',
       'AGE_46-65', 'AGE_Less than 30',  'PAY_JULY_-2',
       'PAY_JULY_-1', 'PAY_JULY_1', 'PAY_JULY_2',
       'PAY_JULY_3', 'PAY_JULY_4', 'PAY_JULY_5', 'PAY_JULY_6',
       'PAY_JULY_7', 'PAY_JULY_8', 'PAY_AUG_-2', 'PAY_AUG_-1',
        'PAY_AUG_1', 'PAY_AUG_2', 'PAY_AUG_3', 'PAY_AUG_4',
       'PAY_AUG_5', 'PAY_AUG_6', 'PAY_AUG_7', 'PAY_AUG_8', 'PAY_SEP_-2',
       'PAY_SEP_-1',  'PAY_SEP_1', 'PAY_SEP_2', 'PAY_SEP_3',
       'PAY_SEP_4', 'PAY_SEP_5', 'PAY_SEP_6', 'PAY_SEP_7', 'PAY_SEP_8',
       'PAY_OCT_-2', 'PAY_OCT_-1',  'PAY_OCT_1', 'PAY_OCT_2',
       'PAY_OCT_3', 'PAY_OCT_4', 'PAY_OCT_5', 'PAY_OCT_6', 'PAY_OCT_7',
       'PAY_OCT_8', 'PAY_NOV_-2', 'PAY_NOV_-1',  'PAY_NOV_2',
       'PAY_NOV_3', 'PAY_NOV_4', 'PAY_NOV_5', 'PAY_NOV_6', 'PAY_NOV_7',
       'PAY_NOV_8', 'PAY_DEC_-2', 'PAY_DEC_-1',  'PAY_DEC_2',
       'PAY_DEC_3', 'PAY_DEC_4', 'PAY_DEC_5', 'PAY_DEC_6', 'PAY_DEC_7',
       'PAY_DEC_8']
X = X[final_columns]
test_data=test_data[final_columns]

## Logistic Regression model

In [ ]:
# Training
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=0)
logistic_regression = LogisticRegression()
logistic_regression.fit(X_train,y_train)

Error: Jupyter notebook failed to launch.
Error: The Jupyter notebook server failed to launch in time

In [ ]:
y_pred = logistic_regression.predict(X_test)

Error: Jupyter notebook failed to launch.
Error: The Jupyter notebook server failed to launch in time

In [ ]:
from sklearn.metrics import accuracy_score, classification_report
accuracy = accuracy_score(y_test, y_pred)
accuracy_percentage = 100 * accuracy
print("Accuracy:",accuracy_percentage)
print(classification_report(y_test, y_pred))

Error: Jupyter notebook failed to launch.
Error: The Jupyter notebook server failed to launch in time

In [ ]:
# Predicting for test data
predictions = logistic_regression.predict(test_data)

# Save results in the format required
ID = pd.DataFrame(test_id, columns = ['Client_ID']) 
REV = pd.DataFrame(predictions, columns = ['NEXT_MONTH_DEFAULT']) 
COLS = [ID,REV]
result = pd.concat(COLS, axis=1)
result.columns
result.to_csv('Randresult.csv',  index=False)

Error: Jupyter notebook failed to launch.
Error: The Jupyter notebook server failed to launch in time